@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&family=Noto+Serif+JP&display=swap");

:root {
  --clr-darkgrey: #d4d4d4;
  --clr-medgrey: #e0e0e0;
  --clr-grey: #f7f7f7;

  --xxxs: 1px;
  --xxs: 2px;
  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body, button, select, input {
  font-family: "Source Serif Pro", "Noto Serif JP";
  font-size: 16px;
}

body {
  font-weight: 400;
}
